@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400');

body {
  overflow-x: hidden;
}
body.mobile {
  opacity: 1
}
*, *:before, *:after {
  box-sizing: border-box;
}

h1, h4 {
  position: relative;
  font-family: 'Open Sans';
}

.App {
  opacity: 0;
  overflow: hidden;
  width: 100%;
}

.App.start {
  animation: fade-in 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.header {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  display: flex;
  position: fixed;
  box-sizing: border-box;
  height: 92px;
  width: 100%;
  align-items: center;
  padding: 0px 90px;
  justify-content: space-between;
  top: 0;
  z-index: 9;
  transition: height 0.3s ease-in-out, border-bottom 0.3s ease-in-out, background 1s ease-in-out;
}

.header.shrink {
  height: 72px;
  border-bottom: solid #C79226 8px;
  animation-fill-mode: forwards;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.99));
}

.dropdown.shrink {
  animation: dropdown-shrink 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.header-link.normal.shrink {
  padding-top: 30px;
}

.header-link.dropdown-trigger.shrink {
  padding-top: 30px;
}


.header-logo {
  float: left;
  left: 30px;
  cursor: pointer;
  visibility: visible;
}

.header-logo > svg:nth-child(2) {
  position: absolute;
  float: left;
  left: 91px;
  top: -11px;
  transition: all 0.3s ease;
  transform: translate(25px, 10px);
  opacity: 0;
}

.header-logo.shrink > svg:nth-child(2) {
  margin-top: 15px;
  opacity: 1;
}

.header-logo > svg:nth-child(1) {
  transition: all 0.3s ease;
  opacity: 1;
}

.header-logo.shrink > svg:nth-child(1) {
  margin-top: 30px;
  opacity: 0;
}

.header-links-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 51%;
  transition: transform 0.3s ease-in-out;
}

.header-link {
  color: #043A56;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  height: 100%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out, padding-top 0.3s ease-in-out;
  opacity: 0;
}

.header-link.small {
  flex-direction: column;
  box-sizing: border-box;
  font-size: 10px;
  padding: 0 13px;
  height: auto;
  justify-content: center;
  text-decoration: underline;
  align-self: center
}

.header-link.normal { 
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 15px 0 15px;
}

.header-link.dropdown-trigger {
  padding: 40px 20px 0 20px;
  box-sizing: border-box;
}

.header-link.dropdown-trigger::after {
  content: ' ';
  display: inline-block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #043A56 transparent transparent transparent;
  line-height: 0px;
  margin: 7px 5px;
}

.dropdown {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  height: 0px;
  position: absolute;
  transform: translate(-20px, 33px);
  background-color: #eff3f6;
  padding: 10px 10px 10px 0px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.dropdown > ul {
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.dropdown > ul > li {
  /*margin-bottom: 10px;*/
  box-sizing: border-box;
  max-height: 23px;
  /*min-width: 190px;*/
}

.dropdown > ul > li > .header-link {
  padding: 3px 20px !important;
  box-sizing: border-box;
  display: inline-table;
}

.header-link.dropdown-trigger:hover > .dropdown {
  height: 95px;
  opacity: 1;
  visibility: visible;
}

.header-link:hover {
  color: #043A56;
  background-color: #eff3f6;
}

.header-link.small:hover {
  color: #043A56;
  background-color: unset;
  text-decoration: none;
}

.header-link.normal:hover::after {
  content: '';
  border-bottom: solid #043A56 1px;
  animation: fade-width 0.5s 1;
  animation-fill-mode: forwards;
  display: flex;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 32%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.hamburger-trigger:checked ~ .menu-overlay {
  display: flex;
  z-index: 1;
}

.hamburger.hamburger--spring.shrink {
  transform: translateY(-10px);
}

.menu-overlay {
  position: fixed;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: fade-in 0.3s ease-in-out;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.95));
  display: flex;
  justify-content: center;
  left: 0;
  top: 92px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -99;
  display: none
}

.menu-overlay.shrink {
  top: 72px !important;
}

.overlay-links-container {
  display: flex;
  top: 10px;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 99;
  max-width: 510px;
  height: 80%;
  align-items: center;
}

.overlay-link {
  display: flex;
  font-size: 2em;
  color: white;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  height: 50px;
  font-weight: 100;
}

.overlay-link-dropdown {
  display: flex;
  align-self: flex-start;
  font-size: 2em;
  color: white;
  cursor: pointer;
  flex-direction: column;
  margin: 0 10px;
  height: 232px;
  border: solid white 1px;
  padding: 10px;
}

.overlay-link.secondary {
  font-size: 0.6em;
  height: 10px;
}

.overlay-link:hover::after {
  width: 100%;
}

.overlay-link::after {
  transition: width 0.2s ease-in-out;
  content: '';
  border-bottom: solid white 1px;
  width: 80%;
  display: flex;
  align-self: center;
  margin-top: 5px;
}

.overlay-link-dropdown > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overlay-link-dropdown > ul > li > a {
  font-size: 1em;
  display: inline-table;
}


.button-primary {
  display: flex;
  background-color: #C79226;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0px;
  height: 40px;
  width: 160px;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  border-radius: 0px;
  border: none;
  position: relative;
}

.button-primary.head.shrink {
  transform: translateY(4px);
}

.button-primary:hover {
  box-shadow: rgba(232, 173, 51, 0.2) 0px 0px 5px 0px;
  border: solid #C79226 3px;
  color: #C79226;
  background: linear-gradient(rgba(255, 255, 255, 0.5), white); 
}

.button-primary.voting-section:hover {
  box-shadow: rgba(232, 173, 51, 0.2) 0px 0px 13px 0px;
  border: solid #C79226 3px;
  color: white;
  background: #C79226;
}

.hero {
  margin-top: 92px;
  height: 660px;
  width: 100%;
  background: linear-gradient(#45434a, #403227, #5e5850);
  background-image: url('./assets/2xhero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  z-index: -1;
  transition: all 0.5s ease;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 70px;
  width: 65%;
  height: 70%;
  position: relative;
  z-index: 1;
}

.hero-post-container {
  display: flex;
  flex-direction: column;
  transform: translateY(-30px);
  width: 60%;
  color: white;
  letter-spacing: 1px;

}

.hero-post {
  display: inline-table;
}

.hero-post-header {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  margin: 0;
  max-height: 58px;
  width: 90px;
  transform: translateY(15px);
}

.hero-post-header::after {
  content: '';
  border-bottom: solid white 2px;
  display: block;
  margin: 20px 0;
  width: 120%;
  animation: fade-width-hero-header 2.5s ease 1;
  animation-fill-mode: forwards;
}

.hero-post-title {
  font-size: 42px;
  margin: 0px;
  line-height: 1.3;
  font-weight: 300;
  font-family: unset;
  display: flex;
  transform: translateY(20px);
}

.hero-post-play {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
}

.hero-post-play > span {
  font-size: 20px;
  font-weight: 100;
  margin-left: 25px;
}

.hero-image {
  height: auto;
  width: 100%;
}

.hamburger {
  padding: 15px 15px;
  animation: fade-in 0.3s ease-in-out;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
  position: absolute;
  right: 13px;
  top: 19px;
  outline: none;
}

.hamburger-trigger {
  position: absolute;
  z-index: 9;
  height: 58px;
  width: 70px;
  transform: translate(-16px, -17px);
  opacity: 0;
  right: 13px;
  top: 19px;
  cursor: pointer;
}

.hamburger-trigger:hover ~ .hamburger {
  opacity: 0.7
}

.hamburger:hover {
    opacity: 0.7; 
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #3c3d3d;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}

.hamburger-inner::before {
  top: -10px; 
}

.hamburger-inner::after {
  bottom: -10px; 
}


.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; 
}

.hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger-trigger:checked ~ .hamburger--spring .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent; 
}

.hamburger-trigger:checked ~ .hamburger--spring .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); 
}

.hamburger-trigger:checked ~ .hamburger--spring .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); 
}

.learn-more {
  display: flex;
  flex-direction: row;
  height: unset;
  justify-content: center;
  margin: 0 90px;
  width: 90%;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 1264px;
}

.learn-more-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 100%;
  min-height: 300px;
  min-width: 300px;
  opacity: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Open Sans'
}

.learn-more-item:first-of-type {
  margin-left: 0;
}

.learn-more-item:last-of-type {
  margin-right: 0;
}

.learn-more-item-content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.learn-more-item-content-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.4)
}


.learn-more-item-title {
  color: white;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px
}

.learn-more-item-button {
  background-color: transparent;
  border: solid white 2px;
  border-radius: 0px;
  color: white;
  font-size: 16px;
  width: 135px;
  font-weight: 100;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.learn-more-item-button:hover {
  background-color: white;
  color: black;
}

.stats {
  height: 665px;
  width: 88% !important;
  max-width: 1264px;
  background-color: #043A56;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 53px;
  padding: 0 5px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: scroll;
  padding: 57px 15px 42px 15px;
  min-width: 365px
}

.stats > h1 {
  color: white;
  font-weight: 100;
  font-size: 
}

.stats-data {
  height: 100%;
  min-width: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: scroll;
}

.letters {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: visible;
}

.letters-content-wrapper {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.letter-item {
  display: flex;
  width: 100%;  
  background: white;
  justify-content: center;
  margin-top: 10px;
  min-width: 1440px;
  height: 515px;
  overflow: visible;
}

.letter-text.right {
  margin-right: 50px;
  transform: translateY(30px);
}

.letter-text.left {
  transform: translate(-40px, 10px);
}

.letter-item.left {
  transform: translateX(-200px);
}

.letter-item.right {
  transform: translateX(250px);
}

.letter-item-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.letter-item-content-wrapper.right {
  margin-right: 100px
}

.letter-item-content-wrapper.left {
  margin-left: 100px
}

.letter {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 40px;
}

.letter-item-title {
  width: 70%;
  font-weight: 400;
  font-size: 34px;
  color: #043A56;
  margin-top: unset;
  line-height: 1.2;
  font-family: 'Open Sans';
}

.letter-item-intro {
  color: #004C74;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 13.5px;
  font-family: 'Open Sans';
  letter-spacing: 0.1px;
  max-width: 425px;
  transform: translate(15px, 18px);
  line-height: 1.5;
}

.letter-item-intro::before {
  content: "“";
  display: flex;
  font-family: 'Helvetica';
  font-size: 106px;
  color: #BA880B;
  height: 100px !important;
  transform: translateY(-25px);
  font-weight: bold;
  width: 18%;
}

.letter-item-intro.right {
  margin-right: 10px;
}

.letter-item-button {
  background-color: transparent;
  border: solid #BA880B 2px;
  border-radius: 0px;
  color: #BA880B;
  font-size: 14px;
  font-weight: 100;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: translate(82px, 22px);
  width: 134px;
  height: 43px;
  text-transform: uppercase;
  outline: none;
}

.letter-item-button:hover {
  background-color: #BA880B;
  color: white;
}

.letter-item-boss-man {
  display: flex;
  height: 100%;
  min-width: 216px;
  min-height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: fade-in 2s ease-in-out 1;
  display: none;
  background-color: transparent;
}

.letter-item-boss-man.left {
  transform: translateX(-70px) scale(1.2);
}

.letter-item-boss-man.right {
  transform: scale(1.118);
}

.letter-item-barrick-icon {
  display: flex;
  background-image: url('./assets/barrick-icon.png');
  background-size: contain;
  height: 328px;
  width: 592px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5 !important
}

.letter-item-barrick-icon.right {
  margin-left: 50px;
}

.letter-item-barrick-icon.left {
  transform: translateX(-100px) !important;
}

.additional-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  margin-bottom: 75px;
}

.additional-info-title {
  display: inline-block;
  text-align: center;
  font-weight: 100;
  color: #043A56;
  font-size: 34px;
  margin-top: 39px
}

.additional-info-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 87.5%;
  align-self: center;
  margin-top: 15px;
  align-items: center
}

.additional-info-item {
  display: flex;
  height: 195px;
  width: 380px;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/barrick-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px 20px;
}

.additional-info-item:hover > .additional-info-item-overlay {
  opacity: 0.2;
}

.additional-info-item:hover {
  box-shadow: rgba(0, 0, 0, 0.57) 0px 0px 5px
}

.additional-info-item-overlay {
  position: absolute;
  width: 380px;
  height: 195px;
  background-color: black;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
}

.additional-info-item-text {
  display: flex;
  font-weight: 100;
  color: white;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  z-index: 1;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.additional-info-item > span > svg {
  transition: all 0.3s ease-in-out;
}

.additional-info-item:hover > span > svg {
  animation: move-arrow 0.5s ease-in-out 1;
  animation-fill-mode: forwards;
}

.voting {
  display: flex;
  flex-direction: column;
  min-height: 763px;
  max-width: 1440px;
  justify-content: flex-start;
  background-image: url('./assets/voting-terms.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 91px;
}

.voting-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0;
  width: 103.2%;
}

.voting-item {
  display: flex;
  flex-direction: column;
  width: 415px;
  justify-content: space-between;
  /*margin-bottom: 50px;*/
}

.voting-item-title {
  color: white;
  font-size: 32px;
  letter-spacing: 0.7px;
  font-weight: 100;
  font-family: unset;
  height: 111px;max-width: 350px;
  line-height: 1.2;
  vertical-align: top;
  transform: translateY(-2px);
  margin-top: 40px;
  margin-bottom: unset;
}

.voting-item:nth-of-type(3) > .voting-item-title {
  max-width: 350px;
  line-height: 1.2;
  vertical-align: top;
  transform: translateY(-2px);
}

.voting-item-text {
  color: white;
  margin-top: unset;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 0.6px;
  line-height: 1.5;
  max-width: 371px;
  height: 147px;
  padding-left: 3.5px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.voting-item:nth-of-type(2) > p.voting-item-text {
  max-width: 387px;
}

.voting-item:nth-of-type(3) > p.voting-item-text {
  max-width: 382px;
}

.voting-item-button {
  background-color: transparent;
  border: solid white 2px;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  font-weight: 100;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
  width: 32%;
  height: 43px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-left: 2px;
}

.voting-item-button:hover {
  background-color: white;
  color: black;
}

.voting-title {
  color: white;
  font-size: 32px;
  font-family: unset;
  font-weight: 300;
  letter-spacing: 1px;
}

.voting-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  align-self: center;
  margin: 0px auto 0 auto;
  width: 50%;
}

.voting-subtitle-text {
  display: flex;
  color: white;
  font-weight: 100;
  margin: 0;
  font-size: 34px;
  letter-spacing: 1px
}

.button-primary {
  display: inline-block;
}

.checkmark {
  border: solid white 3px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: visible;
  transform: translateX(6px);
}

.annual-meeting {
  display: flex;
  flex-direction: column;
  min-height: 520px;
  height: 530px;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/footer-crowd.png');
  background-size: 1441px, 529px;
  background-position: 0px 2px;
  margin-top: 50px;
  background-repeat: no-repeat;
}

.annual-meeting-title {
  display: flex;
  color: #043A56;
  font-size: 34px;
  margin-bottom: 20px;
  margin-top: 12px;
  font-weight: 400
}

.annual-meeting-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 42.5%;
  min-width: 590px;
  min-width: 547px;
  justify-content: space-around;
  transform: translateY(-65px);
}

.annual-meeting-items-container {
  display: flex;
  justify-content: center;
  transform: translateY(40px);
}

.annual-meeting-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.annual-meeting-item-when, .annual-meeting-item-where {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  margin-top: 20px;
}
.annual-meeting-item-when > span {
  color: #C79226;
  font-size: 13.9px;
  font-weight: 100;
  text-transform: uppercase;
}

.annual-meeting-item-when > p {
  color: #043A56;
  font-size: 24px;
  font-weight: 100;
  line-height: 2;
  min-width: 285px;
  margin-top: 12px;
  font-weight: 300;
}

.annual-meeting-item-where > span {
  color: #C79226;
  font-size: 13.9px;
  font-weight: 100;
  text-transform: uppercase;
}

.annual-meeting-item-where > p {
  color: #043A56;
  font-size: 24px;
  font-weight: 100;
  min-width: 272px;
  line-height: 2;
  margin-top: 12px;
  font-weight: 300;
  height: 120%;
  margin-bottom: 0;
}

.annual-meeting-item-where > p:nth-of-type(2), .annual-meeting-item-where > p:nth-of-type(3) {
  line-height: normal;
}

.annual-meeting-item-where > p:nth-of-type(3) {
  margin-top: unset;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 72px 10px 92px;
  height: 116px;
  width: 100%;
  border-top: solid #043A56 9px;
}

.logo-footer {
  height: 82px;
}

/*.footer::before {
  content: '';
  width: 100%;
  border-top: solid #043A56 9px;
}*/

/*.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: center;
}
*/
.search-bar-container {
}

.search-bar {
  width: 298px;
  height: 48px;
  font-size: 14px;
  font-weight: 100;
  outline: none;
  transition: width 0.3s ease-in-out;
  /*border: solid #aeaeb1 1px;*/
  border-radius: 4px;
  color: #9B9B9B;
  padding: 10px 26px 11px 24px;
  transform: translate(2px, -3px);
  font-size: 14.2px;
  font-weight: 400;
  letter-spacing: 0.3px;
  border: none;
  box-shadow: #9B9B9B 0px 0px 0.2px 1px;
}

.search-bar::placeholder {
  color: #9B9B9B;
  font-weight: 100
}

.fa.fa-search {
  transform: translate(-39px, -4px);
  color: #9B9B9B;
  font-size: 17px;
}

.play-container {
  position: relative;
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out
}

.play-container:hover {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  border: solid white 5px;
}

.play-container:hover > .play-triangle {
  border-width: 19px 0 19px 30px;
  border-color: transparent transparent transparent white;
}

.play-triangle {
  border-style: solid;
  border-color: transparent transparent transparent #043A56;
  display: flex;
  height: 0;
  margin-left: 5px;
  transition: border-color 0.2s ease-in-out;
  width: 0;
  z-index: 2;
}

@keyframes fade-in-down {
  0% {opacity: 0; transform: translateY(-10px)}
  100% {opacity: 1;transform: translateY(0px)}
}

@keyframes fade-out-down {
  0% {opacity: 1; transform: translateY(0)}
  50% {opacity: 0.8; transform: translateY(5px)}
  100% {opacity: 0;transform: translateY(10px)}
}

@keyframes dropdown-shrink {
  0% {top: unset;}
  100% {top: 31px;}
}

@keyframes move-arrow {
  0% {transform: translateX(0)}
  50% {transform: translateX(12px)}
  100% {transform: translateX(10px)}
}

@keyframes bg-size {
  0% {background-position: 100%}
  100% {background-position: 110%}
}

@keyframes fade-width {
  0% {width: 0%; transform: translateX(30px)}
  50% {width: 102%; transform: translateX(-2px)}
  100% {width: 98%; transform: translateX(1px)}
}

@keyframes fade-width-hero-header {
  0% {width: 0%; transform: translateX(33px)}

  75% {width: 123%; transform: translateX(-2px)}
  100% {width: 121%; transform: translateX(0px)}
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fade-out {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes hide {
  0% {visibility: visible;}
  100% {visibility: hidden; display: none !important}
}


@keyframes fade-in-up {
  0% {opacity: 0; transform: translateY(10px)}
  100% {opacity: 1;transform: translateY(0px)}
}

.cls-1 {
  fill: #b79f56;
}

.cls-2 {
  fill: #004d77;
}

@media screen and (max-width: 1180px) {

  .voting-subtitle {
    margin: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .voting-subtitle > h1 {
    margin-bottom: 30px;
  }
  
  .letter-item.left {
    transform: translateX(-400px);
  }

  .letter-item.right {
    transform: translateX(200px);
  }

  .letter-item-boss-man.right {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100px) scale(1)
  }

  .letter-item-title {
    width: 50%;
  }

  .letter-item-intro {
    width: 65%;
  }

  .annual-meeting-content-wrapper {
    width: 50%;
    min-width: unset
  }

  .letter-item-barrick-icon {
    animation: fade-out 0.3s ease-in-out, hide 0.3s 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width: 1030px) {
  .header-links-container {
    display: none
  }

  .hamburger {
    display: inline-block;
  }

  .hero {
    background-position: -100px;
  }

  .stats {
    width: 90% !important;
  }

  .header-right {
    margin: 0 auto;
    animation: fade-in-up 0.5s ease-in-out 1;
    justify-content: center;
  }

  .letter-item-content-wrapper.left {
    transform: translateX(-110px);
  }

  .letter-item.right {
    transform: translateX(170px);
  }
  
  .letter-item-boss-man.right {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100px);
  }

  .letter-item-title {
    width: 50%;
  }
    

  .annual-meeting-item {
    flex-direction: column;
  }
  .annual-meeting-item-when > p, .annual-meeting-item-where > p {
    width: 100%;
  }
  .annual-meeting-content-wrapper {
    width: 90%;
  }

  .learn-more-item {
    flex: 1 !important;
  }
  
  .learn-more-item {
    margin-left: 0;
    margin-right: 0;
  }

  .learn-more-item:first-of-type {
    margin-right: 20px;
  }
}

@media screen and (max-width: 880px) {
  .letter-item {
    height: 400px;
  }
  .letter-item.right {
    transform: translateX(50px);
  }

  .letter-item.left {
    transform: translateX(-500px);
  }

  .letter-item-title.right {
    width: 70%;
    transform: translate(70px);
  }

  .letter-item-intro.right {
    width: 100%;
    font-size: 18px;
    transform: translate(75px, 20px);
  }

  .letter-item-title.left {
    width: 70%;
    transform: translate(-700px);
  }

  .letter-item-intro.left {
    width: 100%;
    font-size: 18px;
    transform: translate(-75px, 20px);
  }

  .letter-item-intro::before {
    transform: translate(-10px, -30px);
  }

  .letter-item-button.right {
    transform: translate(150px, 40px);
  }

  .letter-item-title.left {
    width: 70%;
    text-align: right;
  }

  .letter-item-intro.left {
    transform: translate(-180px, 10px);
  }

  .letter-item-button.left {
    transform: translate(-130px, 30px);
  }

  .letter-item-boss-man {
    animation: fade-out 0.5s ease, hide 0.5s 1s ease;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width: 650px) {

  .letter-item {
    height: 276px;
  }

  .hero-content-wrapper {
    position: relative;
    width: 100%;
  }

  .hero-post-container {
    width: 100%;
    padding-left: 25px;
  }

  .header-logo > svg {
    left: 10px !important;
    position: absolute;
  }

  .header-logo > svg:nth-child(1) {
    top: 0;
  }

  .header-right {
    width: 100%;
    margin: 0 auto;
  }

  .learn-more-item {
    flex: 1 !important;
  }

  .learn-more-item:first-of-type {
    margin-right: 0;
  }

  .letter-text.left {
    transform: translateX(-440px);
  }

  .letter-item-intro.right {
    text-align: left;
  }

  .letter-item-intro.left {
    width: 80%;
    text-align: left;
  }

  .letter-item-boss-man.right {
    transition: transform 0.3s ease-in-out;
    transform: translate(117px, 20px) scale(0.9);
    perspective: 2000;
  }

  .letter-item-boss-man.left {
    transition: transform 0.3s ease-in-out;
    transform: translate(10px, 55px) scale(0.9);
    perspective: 2000;
  }

  .stats {
    width: 90% !important;
  }

  .letter-item {
    height: 400px;
  }

  .letter-item-content-wrapper.left {
    transform: translateX(510px);
  }

  .letter-item.right {
    transform: translateX(-50px);
  }
  
  .letter-item-boss-man.right {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100px);
  }

  .letter-item-title {
    width: 50%;
  }

  .letter-item-content-wrapper.left > .letter > .letter-item-intro {
    width: 210%;
  }
  
  .search-bar {
    width: 190px;
  }

  .hero {
    background-position: -50px;
  }

  .letter-item-title.left {
    width: 70%;
    text-align: right;
    transform: translateX(-420px);
  }

  .letter-item.right {
    transform: translateX(-30px);
  }

  .letter-item-intro.left {
    transform: translateX(-520px);
    width: 100%;
  }

  .letter-item-button.right {
    transform: translate(125px, 40px);
  }

  .letter-item-button.left {
    transform: translate(-468px, 20px);
  }
}

@media screen and (max-width: 480px) {

  .header-right {
    transform: translateX(-41px);
  }

  .hero-post-title {
    font-size: 38px;
    width: 90%
  }
  .hero-post-play {
    width: 80%;
  }
  .header-right {
    width: 100%;
    margin: 0 -45px;
  }

  .stats-data {
    background-size: 1157px;
  }

  .letter-item {
    height: 300px;
  }

  .letter-text.right {
    transform: translateX(-300px);
    width: 200%;
  }

  .letter-item-title {
    width: 216% !important;
  }

  .letter-item-title.left {
    width: 65% !important;
    transform: translateX(40px);
  }
  
  .letter-item-intro {
    width: 216%;
  }

  .letter-item-title.left {
    right: 40px;
    text-align: right;
    transform: translateX(30px);
  }

  .letter-item-title.right {
    transform: translateX(-15px);
  }

  .letter-item-intro.left {
    transform: translateX(-90px);
    width: 100%;
  }

  .letter-item-button.left {
    transform: translateX(0px);
  }

  .letter-item-button.right {
    transform: translateX(200px);
  }

  .letter-item-intro.right {
    text-align: right;
    font-size: 14px;
    transform: translateX(-5px);
    width: 217%;
  }

  .letter-item-intro.left {
    font-size: 14px;
    width: 75%;
    transform: translateX(-50px);
  }

  .letter-item-boss-man.right {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translate(117px, 155px) scale(0.7);
  }

  .letter-item-boss-man.left {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translate(0px, 155px) scale(0.7);
    opacity: 0;
  }

  .letter-item-content-wrapper.right {
    width: 34%;
    transform: translateX(-40px);
  }

  .letter-item-content-wrapper.left {
    transform: translateX(-80px);
  }

  .voting-item-button {
    width: 100%;
  }

  .voting-subtitle > h1 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .hero {
    background-size: cover !important;
    background-position: -200px
  }
}


@media screen and (max-width: 390px) {
  .button-primary.head {
    animation: fade-out 0.3s ease-in-out, hide 0.5s 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .fa.fa-search {
    position: absolute;
    transform: translate(-30px, 15px);
  }
}






/* MOBILE RESPONSIVE */


/* Smartphones (portrait and landscape) ----------- */
  .letter-item-boss-man {
    display: none
  }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App {
    width: 100%
  }

  .hero {
    background-size: contain;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

/* Smartphones (portrait) ----------- */
  .letter-item-boss-man {
    display: none
  }

@media only screen and (max-width : 320px) {
  .App {
    width: 100%
  }

  .hero {
    background-size: contain;
  }
}

/* iPads (portrait and landscape) ----------- */
  .letter-item-boss-man {
    display: none
  }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .App {
    width: 100%
  }

  .hero {
    background-size: contain;
    background-position: -200px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .App {
    width: 100%
  }

  .hero {
    background-size: contain;
  }
}

/* iPads (portrait) ----------- */
  .letter-item-boss-man {
    display: none
  }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: contain;
  }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  .App {
    width: 100%
  }

  .hero {
    background-size: contain;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: contain;
  }

  .hero {
    background-size: contain;
  }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
    background-position: 0px;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
    background-position: 30% 40%
  }

  .hero-post-play {
    width: 70%;
  }

  .learn-more {
    flex-direction: column 
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
    background-position: 30% 40%
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
    background-position: 30% 40%
  }

  .hero-post-play {
    width: 70%;
  }

  .learn-more {
    flex-direction: column 
  }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .letter-item-boss-man {
    display: none !important
  }

  .App {
    width: 100% !important
  }

  .hero {
    background-size: cover !important;
    background-position: 30% 40% !important
  }

  .hero-post-play {
    width: 70% !important;
  }

  .learn-more {
    flex-direction: column !important 
  }

  .letter-item-intro::before {
    transform: translate(-18px, -20px) !important;
  }

  .letter-item-content-wrapper.left > .letter > .letter-item-intro {
    width: 160% !important;
    transform: translateX(0px) !important;
  }

  .annual-meeting-content-wrapper {
    width: 90% !important;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important
  }
  .letter-item-barrick-icon {
    display: none !important
  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
    background-position: 30% 40%
  }

  .hero-post-play {
    width: 70%;
  }

  .learn-more {
    flex-direction: column 
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
    background-position: 30% 40%
  }

  .hero-post-play {
    width: 70%;
  }

  .learn-more {
    flex-direction: column 
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .letter-item-boss-man {
    display: none
  }

  .App {
    width: 100%
  }

  .hero {
    background-size: cover;
    background-position: 30% 40%
  }

  .hero-post-play {
    width: 70%;
  }

  .learn-more {
    flex-direction: column 
  }
}